<!--=====================================
Footer
======================================-->

<footer class="ps-footer">

    <div class="container">

        <div class="ps-footer__widgets">

            <!--=====================================
            Contact us GA
            ======================================-->

            <aside class="widget widget_footer widget_contact-us">

                <h4 class="widget-title">Llámanos</h4>

                <div class="widget_content">

                    <p>Llámanos 24/7</p>

                    <h3>+51 968747296</h3>

                    <p>Calle 26 de julio #271 - Florencia de Mora Trujillo, La Libertad, Perú

                        GAAAAAAAAAAAAAAAA ewi


                      <br>

                      <a href="mailto:contact@marketplace.com">

                        gescobarm16@gmail.com

                      </a>

                    </p>

                    <ul class="ps-list--social">

                        <li><a class="facebook" href="#">

                          <i class="fab fa-facebook-f"></i></a></li>

                        <li><a class="twitter" href="#">

                          <i class="fab fa-twitter"></i></a></li>

                        <li><a class="google-plus" href="#">

                          <i class="fab fa-youtube"></i></a></li>

                        <li><a class="instagram" href="#">

                          <i class="fab fa-instagram"></i></a></li>

                    </ul>

                </div>

            </aside>

            <!--=====================================
            Quick Links
            ======================================-->

            <aside class="widget widget_footer">
                <h4 class="widget-title">Enlaces Rápidos</h4>
                
                <ul class="ps-list--link">
                    
                    <li><a href="#">Política</a></li>
                    
                    <li><a href="#">Terminos y Condiciones</a></li>
                    
                    <li><a href="#">Envío</a></li>
                    
                    <li><a href="#">Retorno</a></li>
                    
                    <li><a href="faqs.html">FAQs</a></li>
                    
                </ul>
                
            </aside>
            
            <!--=====================================
                Company
                ======================================-->
                
                <aside class="widget widget_footer">
                    
                    <h4 class="widget-title">Empresa</h4>
                    
                    <ul class="ps-list--link">
                        
                        <li><a href="about-us.html">Sobre Nosotros</a></li>
                        
                        <li><a href="#">Afiliate</a></li>
                        
                        <li><a href="#">Carrera</a></li>
                        
                        <li><a href="contact-us.html">Contacto</a></li>
                        
                    </ul>
                    
                </aside>
                
                <!--=====================================
                    Bussiness
                    ======================================-->
                    
                    <aside class="widget widget_footer">
                        
                        <h4 class="widget-title">Negocios</h4>
                        
                        <ul class="ps-list--link">
                            
                            <li><a href="#">Nuestra prensa</a></li>
                            
                            <li><a href="checkout.html">Checkout</a></li>
                            
                            <li><a href="my-account.html">Mi Cuenta</a></li>
                            
                            <li><a href="shop-default.html">Tienda</a></li>
                            
                        </ul>
                        
                    </aside>
                    
                </div>
                
                <!--=====================================
                    Categories Footer
                    ======================================-->
                    
                    <div class="ps-footer__links">
                        
                        <p>
                            <strong>Electrónica de Consumo:</strong>
                            <a href="#">Aire Acondicionado</a>
                            <a href="#">Audio y Cine</a>
                            <a href="#">Electrónica del automóvil</a>
                            <a href="#">Electrónica de oficina</a>
                            <a href="#">Televisores</a>
                            <a href="#">Lavadoras</a>
            </p>
            
            <p>
                <strong>Ropa y Accesorios:</strong>
                <a href="#">Impresoras</a>
                <a href="#">Proyectores</a>
                <a href="#">Escaners</a>
                <a href="#">Tienda y Negocios</a>
                <a href="#">TV 4K Ultra HD</a>
                <a href="#">TV LED</a>
                <a href="#">TV OLED</a>
            </p>
            
            <p>
                <strong>Casa, Jardín y Cocina:</strong>
                <a href="#">Batería</a>
                <a href="#">Decoración</a>
                <a href="#">Muebles</a>
                <a href="#">Herramientas de jardín</a>
                <a href="#">Equipos de jardinería</a>
                <a href="#">Herramientas manuales y de potencia</a>
                <a href="#">Utensilios y gadgets</a>
            </p>
            
            <p>
                <strong>Salud y Belleza:</strong>
                <a href="#">Cuidado del Cabello</a>
                <a href="#">Decoración</a>
                <a href="#">Cuidado del Cabello</a>
                <a href="#">Maquillaje</a>
                <a href="#">Ducha corporal</a>
                <a href="#">Cuidado de la Piel</a>
                <a href="#">Colinias</a>
                <a href="#">Perfumes</a>
            </p>
            
            <p>
                <strong>Joyas y relojes:</strong>
                <a href="#">Collares</a>
                <a href="#">Aretes</a>
                <a href="#">Anillos</a>
                <a href="#">Sliver Earing</a>
                <a href="#">Relojes de Cuero</a>
                <a href="#">Gucci</a>
                
            </p>

            <p>
                <strong>Computadoras y Tecnología:</strong>
                <a href="#">Escritorio para PC</a>
                <a href="#">Laptop</a>
                <a href="#">Smartphones</a>
                <a href="#">Tablets</a>
                <a href="#">Mandos de Juego</a>
                <a href="#">Audio y Video</a>
                <a href="#">Altavoz inalámbrico</a>
                <a href="#">Hecho!!</a>
            </p>

        </div>

        <!--=====================================
        CopyRight - Payment method Footer
        ======================================-->

        <div class="ps-footer__copyright">

            <p>© 2020 MarketPlace. All Rights Reserved</p>

            <p>
                <span>We Using Safe Payment For:</span>

                <a href="#">
                    <img src="img/payment-method/1.jpg" alt="">
                </a>

                <a href="#">
                    <img src="img/payment-method/2.jpg" alt="">
                </a>

                <a href="#">
                    <img src="img/payment-method/3.jpg" alt="">
                </a>

                <a href="#">
                    <img src="img/payment-method/4.jpg" alt="">
                </a>

                <a href="#">
                    <img src="img/payment-method/5.jpg" alt="">
                </a>

            </p>

        </div>

    </div>

</footer>
