<!--=====================================
Header Promotion
======================================-->

<div class="ps-block--promotion-header bg--cover"  style="background: url({{path}}img/banner/top/{{top_banner['IMG tag']}});">

    <div class="container">

        <div class="ps-block__left">

            <h3>20%</h3>

            <figure>

                  <p>Descuento</p>

                <h4 class="naranja">En los Últimos Pracesadores</h4>

            </figure>

        </div>

        <div class="ps-block__center">

            <p>Entra en Promoción <span>Este 2021</span></p>

        </div><a class="ps-btn ps-btn--sm" href="#">Comprar Ahora</a>

    </div>

</div>
