<!--=====================================
Header
======================================-->

<header class="header header--standard header--market-place-4" data-sticky="true">

    <!--=====================================
    Header TOP
    ======================================-->

    <div class="header__top">

        <div class="container">

            <!--=====================================
            Social
            ======================================-->

            <div class="header__left">

                <ul class="d-flex justify-content-center">

                    <li><a href="#" target="_blank">

                      <i class="fab fa-facebook-f mr-4"></i></a></li>

                    <li><a href="#" target="_blank">

                      <i class="fab fa-instagram mr-4"></i></a></li>

                    <li><a href="#" target="_blank">

                      <i class="fab fa-twitter mr-4"></i></a></li>

                    <li><a href="#" target="_blank">

                      <i class="fab fa-youtube mr-4"></i></a></li>

                </ul>

            </div>

            <!--=====================================
            Contact & lenguage
            ======================================-->

            <div class="header__right">

                <ul class="header__top-links">

                    <li><a href="#">Vende En Lexar Tec</a></li>

                    <li><a href="#">Tiendas</a></li>

                    <li><i class="icon-telephone"></i> Llámanos:<strong> +51 968747296</strong></li>

                    <li>

                        <div class="ps-dropdown language"><a href="#"><img src="img/template/en.png" alt="">English</a>

                            <ul class="ps-dropdown-menu">

                                <li><a href="#"><img src="img/template/es.png" alt=""> Spanish</a></li>

                            </ul>

                        </div>

                    </li>

                </ul>

            </div>

        </div><!-- End Container -->

    </div><!-- Header Top -->

    <!--=====================================
    Header Content
    ======================================-->

    <div class="header__content">

        <div class="container">

            <div class="header__content-left">

                <!--=====================================
                Logo
                ======================================-->

                <a class="ps-logo" href="index.html">

                    <img src="{{path}}img/template/logo.png" alt="">

                </a>

                <!--=====================================
                Menú
                ======================================-->

                <div class="menu--product-categories">

                    <div class="menu__toggle">

                        <i class="icon-menu"></i>

                        <span> Shop by Department</span>

                    </div>

                    <div class="menu__content">

                        <ul class="menu--dropdown">

                            <li>

                                <a href="#"><i class="icon-star"></i> Mejores Ofertas</a>

                            </li>

                            <li class="menu-item-has-children has-mega-menu">

                                <a href="#"><i class="icon-laundry"></i>Electronica de Consumo</a>

                                <div class="mega-menu">

                                    <div class="mega-menu__column">

                                        <h4>Electrónica<span class="sub-toggle"></span></h4>

                                        <ul class="mega-menu__list">

                                            <li><a href="#">Audio y Cine</a>

                                            </li>

                                            <li><a href="#">TV y Videos</a>

                                            </li>

                                            <li><a href="#">Camara, Fotos y Videos</a>

                                            </li>

                                            <li><a href="#">Celulares y Accesorios</a>

                                            </li>

                                            <li><a href="#">Headphones</a>

                                            </li>

                                            <li><a href="#">Videojuegos</a>

                                            </li>

                                            <li><a href="#">Altavoces inalámbricos</a>

                                            </li>

                                            <li><a href="#">Oficina Electrónica</a>

                                            </li>

                                        </ul>

                                    </div>

                                    <div class="mega-menu__column">

                                        <h4>Accesorios y Partes<span class="sub-toggle"></span></h4>

                                        <ul class="mega-menu__list">

                                            <li><a href="#">Cableado Digital</a>

                                            </li>

                                            <li><a href="#">Cables de Audio y Viedo</a>

                                            </li>

                                            <li><a href="#">Baterias</a>

                                            </li>

                                        </ul>

                                    </div>

                                </div>

                            </li>

                            <li>

                                <a href="#"><i class="icon-shirt"></i> Ropa y Accesorios</a>

                            </li>

                            <li>

                                <a href="#"><i class="icon-lampshade"></i> Hogar, Jardín y Cocina</a>

                            </li>

                            <li>

                                <a href="#"><i class="icon-heart-pulse"></i> Salud y Belleza</a>

                            </li>

                            <li>

                                <a href="#"><i class="icon-diamond2"></i> Joyas y relojes</a>

                            </li>

                            <li class="menu-item-has-children has-mega-menu">

                                <a href="#"><i class="icon-desktop"></i>Computadoras y Tecnología</a>

                                <div class="mega-menu">

                                    <div class="mega-menu__column">

                                        <h4>Computadoras y Tecnología <span class="sub-toggle"></span></h4>

                                        <ul class="mega-menu__list">

                                            <li><a href="#">Computadores y Tablets </a>

                                            </li>

                                            <li><a href="#">Laptop</a>

                                            </li>

                                            <li><a href="#">Monitores</a>

                                            </li>

                                            <li><a href="#">Red</a>

                                            </li>

                                            <li><a href="#">Accionamientos y Almacenenamiento</a>

                                            </li>

                                            <li><a href="#">Componentes de Computadoras</a>

                                            </li>

                                            <li><a href="#">Seguridad y Protección</a>

                                            </li>

                                            <li><a href="#">Laptop Gaming</a>

                                            </li>

                                            <li><a href="#">Accesorios</a>

                                            </li>

                                        </ul>

                                    </div>

                                </div>

                            </li>

                            <li>

                                <a href="#"><i class="icon-baby-bottle"></i> Bebes y Madres</a>

                            </li>

                            <li>

                                <a href="#"><i class="icon-baseball"></i> Deporte y Al aire libre</a>

                            </li>

                            <li>

                                <a href="#"><i class="icon-smartphone"></i> Teléfonos y Accesorios</a>

                            </li>

                            <li>

                                <a href="#"><i class="icon-book2"></i> Libros Y Oficina </a>

                            </li>

                            <li>

                                <a href="#"><i class="icon-car-siren"></i> Autos y Motocicletas</a>

                            </li>

                            <li>

                                <a href="#"><i class="icon-wrench"></i> Mejoras en el hogar</a>

                            </li>

                            <li>

                                <a href="#"><i class="icon-tag"></i> Vouchers y Servicios</a>

                            </li>

                        </ul>

                    </div>

                </div><!-- End menu-->

            </div><!-- End Header Content Left-->

            <!--=====================================
            Search
            ======================================-->

            <div class="header__content-center">

                <form class="ps-form--quick-search" action="index.html" method="get">

                    <div class="form-group--icon">

                        <i class="icon-chevron-down"></i>

                        <select class="form-control">

                            <option value="1">Todo</option>

                            <option value="1">Smartphone</option>

                            <option value="1">Audio</option>

                            <option value="1">Juguetes Tecnológicos</option>

                        </select>

                    </div>

                    <input class="form-control" type="text" placeholder="¿Que estas buscando?...">

                    <button>Buscar</button>

                </form>

            </div>


            <div class="header__content-right">

                <div class="header__actions">

                    <!--=====================================
                    Wishlist
                    ======================================-->

                    <a class="header__extra" href="#">

                        <i class="icon-heart"></i><span><i>0</i></span>

                    </a>

                    <!--=====================================
                    Cart
                    ======================================-->

                    <div class="ps-cart--mini">

                        <a class="header__extra" href="#">

                            <i class="icon-bag2"></i><span><i>0</i></span>

                        </a>

                        <div class="ps-cart__content">

                            <div class="ps-cart__items">

                                <div class="ps-product--cart-mobile">

                                    <div class="ps-product__thumbnail">
                                        <a href="#">
                                            <img src="img/products/clothing/7.jpg" alt="">
                                        </a>
                                    </div>

                                    <div class="ps-product__content">
                                        <a class="ps-product__remove" href="#">
                                            <i class="icon-cross"></i>
                                        </a>
                                        <a href="product-default.html">MVMTH Classical Leather Watch In Black</a>
                                        <p><strong>Sold by:</strong> YOUNG SHOP</p>
                                        <small>1 x $59.99</small>
                                    </div>

                                </div>

                                <div class="ps-product--cart-mobile">

                                    <div class="ps-product__thumbnail">
                                        <a href="#">
                                            <img src="img/products/clothing/5.jpg" alt="">
                                        </a>
                                    </div>

                                    <div class="ps-product__content">
                                        <a class="ps-product__remove" href="#">
                                            <i class="icon-cross"></i>
                                        </a>
                                        <a href="product-default.html">Sleeve Linen Blend Caro Pane Shirt</a>
                                        <p><strong>Sold by:</strong> YOUNG SHOP</p>
                                        <small>1 x $59.99</small>
                                    </div>

                                </div>

                            </div>

                            <div class="ps-cart__footer">

                                <h3>Sub Total:<strong>$59.99</strong></h3>
                                <figure>
                                    <a class="ps-btn" href="shopping-cart.html">View Cart</a>
                                    <a class="ps-btn" href="checkout.html">Checkout</a>
                                </figure>

                            </div>

                        </div>

                    </div>

                    <!--=====================================
                    Login and Register
                    ======================================-->

                    <div class="ps-block--user-header">
                        <div class="ps-block__left">
                            <i class="icon-user"></i>
                        </div>
                        <div class="ps-block__right">
                            <a href="my-account.html">Login</a>
                            <a href="my-account.html">Regístrate</a>
                        </div>
                    </div>

                </div><!-- End Header Actions-->

            </div><!-- End Header Content Right-->

        </div><!-- End Container-->

    </div><!-- End Header Content-->

</header>
