<!--=====================================
Home Banner
======================================-->

<div *ngIf="!preload" class="ps-home-banner">
    <div class="ps-carousel--nav-inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1"
        data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on" data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut">

        <div *ngFor="let slide of banner_home; let ultimoIndex = last" class="ps-banner--market-4" [attr.data-background]="path+'img/slider/horizontal/'+slide['IMG']">
            <img src="{{path}}img/slider/horizontal/{{slide['IMG']}}" alt="">
            <div class="ps-banner__content">
                <h4>{{slide['Titulo1']}}</h4>
                <h3 class="banner-white">{{slide['Titulo2']}}<br/>{{slide['Titulo3']}}<br/>
                    <p>{{slide['Descuento']}}<strong>{{slide['Porcentaje']}}</strong></p>
                </h3>
                <a class="ps-btn" href="#">{{slide['Boton']}}</a>

            </div>

            {{ ultimoIndex ? callback() : "" }}

        </div>

    </div>

</div>

<!-- End Home Banner-->

<!--=====================================
Spinner
======================================-->

<div *ngIf="preload" class="d-flex justify-content-center">
    <div class="spinner-border text-warning my-5"></div>
</div>