<!--=====================================
    Home Features
    ======================================-->

<div class="ps-site-features">

    <div class="container">

        <div class="ps-block--site-features ps-block--site-features-2">

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-rocket"></i></div>
                <div class="ps-block__right">
                    <h4>Delivery Gratis</h4>
                    <p>Para todas las ordenes </p>
                </div>
            </div>

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-sync"></i></div>
                <div class="ps-block__right">
                    <h4>7 Dias para Devoluciones</h4>
                    <p>Si tienes algun problema</p>
                </div>
            </div>

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-credit-card"></i></div>
                <div class="ps-block__right">
                    <h4>Pago Seguro</h4>
                    <p>100% libre de estafas</p>
                </div>
            </div>

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-bubbles"></i></div>
                <div class="ps-block__right">
                    <h4>Soporte 24/7</h4>
                    <p>Para aclarar tu dudas</p>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- End Home Features-->