<!--=====================================
Home Promotions
======================================-->

<div class="ps-promotions">

    <div class="container">

        <div class="row">


            <div class="col-md-6 col-12 ">
                <a class="ps-collection" href="shop-default.html">
                    <img src="{{path}}img/banner/default/4.jpg" alt="">
                </a>
            </div>

            <div class="col-md-6 col-12 ">
                <a class="ps-collection" href="shop-default.html">
                    <img src="{{path}}img/banner/default/3.jpg" alt="">
                </a>
            </div>

        </div>

    </div>

</div>
<!-- End Home Promotions-->