<!--===========================
HEADER CON IMAGEN DE PROMOCIONES
===============================-->

<app-header-promotion></app-header-promotion>

<!--===========================
HEADER CON LOGO, BUSCADOR Y CARRITO
===============================-->

<app-header></app-header>

<!--===========================
HEADER PARA  EL MARKETPLACE-MOBILE
===============================-->

<app-header-mobile></app-header-mobile>

<!--===========================
HOME/ ERROR 404/ PRODUCTOS
===============================-->

<router-outlet></router-outlet>

<!--===========================
NEWLETTER
===============================-->

<app-newletter></app-newletter>

<!--===========================
FOOTER
===============================-->

<app-footer></app-footer>